@model ProjetoCorina2.Models.RegPresenca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegPresenca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alunos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alunos.AlunoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPresenca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPresenca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refeicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refeicao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RegPresencaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
